.heroesContainer {
  background-color: black;
  color: white;
  width: 200px;
  height: 350px;
  list-style: none;
  padding-left: 20px;
  padding-top: 0px;
}
ul {
  list-style: none;
  padding-left: 0px;
}
.heroesWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 500px; */
  gap: 50px;
}
